**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [1]:
import pandas as pd

In [2]:
print(pd.Series([4,8,15,16,23,43]))

0     4
1     8
2    15
3    16
4    23
5    43
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**

In [4]:
lists = [1,2,3,4,5,6,7,8,9,10]
print(pd.Series(lists))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

**Q3. Create a Pandas DataFrame that contains the following data:**

In [17]:
data = {"Name":['Alice', 'Bob', 'Claire'], 'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [18]:
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. Each column in a DataFrame is a pandas Series object, which is a one-dimensional labeled array capable of holding any data type.

In [ ]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Emily'],
    'Age': [25, 32, 18, 27],
    'Country': ['USA', 'Canada', 'UK', 'Australia']
}

df = pd.DataFrame(data)
print(df)

In the above example, we created a DataFrame named df using a dictionary with three columns: 'Name', 'Age', and 'Country'. Each column is a pandas Series object.

On the other hand, a pandas Series is a one-dimensional labeled array that can hold any data type, such as integers, floats, strings, and objects. A Series has only one column, whereas a DataFrame can have multiple columns.

Here is an example of creating a pandas Series:

In [ ]:
import pandas as pd

data = [10, 20, 30, 40, 50]

s = pd.Series(data)
print(s)

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?**

Pandas is a popular data manipulation and analysis library in Python, which provides a wide range of functions for manipulating data in DataFrames. Here are some common functions that can be used to manipulate data in a Pandas DataFrame:

Filtering: df[df['column_name'] == value] is used to filter rows based on a specific value in a column. For example, df[df['age'] > 30] can be used to filter all rows where the age is greater than 30.

Sorting: df.sort_values(by='column_name', ascending=True/False) is used to sort the DataFrame by a specific column. For example, df.sort_values(by='age', ascending=False) can be used to sort the DataFrame by age in descending order.

Grouping: df.groupby('column_name').function_name() is used to group the DataFrame by a specific column and apply a function to each group. For example, df.groupby('gender').mean() can be used to group the DataFrame by gender and calculate the mean of all numeric columns for each group.

Aggregation: df['column_name'].function_name() is used to perform aggregation functions on a specific column. For example, df['salary'].mean() can be used to calculate the mean salary of all employees in the DataFrame.

In [ ]:
**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

A Series is a one-dimensional labeled array that can hold any data type. The elements in a Series can be modified after it is created using indexing or slicing.

A DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. The contents of a DataFrame can be modified by updating, adding, or deleting rows and columns.

On the other hand, a Panel is a three-dimensional data structure that can hold data of different types. However, it is not mutable in nature, which means the contents of a Panel cannot be modified once it is created. Instead, you can create a new Panel by manipulating the existing Panel data.

It is worth noting that while Series and DataFrame are mutable, it is generally recommended to use Pandas' built-in functions to modify them, rather than directly modifying their contents, to avoid potential data consistency issues.